<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.his.dao.IPatientDao">

	<select id="findAllPatient" resultType="Patient">
		SELECT * FROM patient
	</select>
	
	<insert id="register" parameterType="Patient">
		INSERT INTO patient(patient_code,patient_password,patient_name,patient_sex,
			patient_age,patient_telephone,patient_identitycard) 
		VALUES(#{patientCode},#{patientPassword},#{patientName},#{patientSex},#{patientAge},
			#{patientTelephone},#{patientIdentitycard})
	</insert>

	<select id="login" parameterType="Patient" resultType="Patient">
		select *
		from patient
		where patient_code=#{patientCode} and patient_password=#{patientPassword}
	</select>
	
	<select id="findPatientById" resultType="Patient" parameterType="int">
		SELECT * FROM patient WHERE patient_id=#{id}
	</select>
	
	<resultMap type="Patient" id="patMap" autoMapping="true">
		<id column="patient_id" property="patientId"/>
		<association property="hospitalization" javaType="Hospitalization" autoMapping="true">
			<id column="hospitalization_id" property="hospitalizationId"/>
		</association>
	</resultMap>
	
	<select id="findPatientByHoszatstate" resultMap="patMap" parameterType="Patient">
		SELECT * FROM patient p 
		LEFT JOIN hospitalization h 
		ON p.patient_hospitalization_id=h.hospitalization_id
		WHERE h.hospitalization_state=0
		<if test="patientName!=null">
			<bind name="pattern" value="'%' + _parameter.getPatientName() + '%'" />
			AND p.patient_name LIKE #{pattern}
		</if> 
	</select>

	<!-- 按病人id修改病人信息 -->
	<update id="updatePatientById" parameterType="Patient">
		UPDATE patient 
		<set>
			<if test="patientPrescriptionCode!=null">
				patient_prescription_code=#{patientPrescriptionCode},		<!-- 病人要取的药方 -->
			</if>
			<if test="patientPassword!=null">
				patient_password=#{patientPassword},	<!-- 病人密码 -->
			</if>
			<if test="patientTelephone!=null">
				patient_telephone=#{patientTelephone},		<!-- 病人联系电话 -->
			</if>
			<if test="patientAdviceId!=null">
				patient_advice_id=#{patientAdviceId},	<!-- 病人正在执行的医嘱 -->
			</if>
			<if test="patientDepartmentId!=null">
				patient_department_id=#{patientDepartmentId},	<!-- 病人就诊科室编号 -->
			</if>
			<if test="patientHospitalizationId!=null">
				patient_hospitalization_id=#{patientHospitalizationId}	<!-- 病人住院情况 -->
			</if>
		</set>
		where patient_id=#{patientId}
	</update>
		
	<update id="updatePatientInAdviceid" parameterType="map">
		UPDATE patient SET patient_advice_id=#{adviceId} WHERE patient_id=#{patientId}
	</update>
	
	<!-- 病人申请住院 -->
	<insert id="addHospitalization" parameterType="Hospitalization">
		INSERT INTO hospitalization(hospitalization_patient_id,hospitalization_reason) 
		VALUES(#{hospitalizationPatientId},#{hospitalizationReason})
		<selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="hospitalizationId">
			SELECT LAST_INSERT_ID()
		</selectKey>
	</insert>
</mapper>