<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.his.dao.IRoomDao">
	<!-- 根据科室编号查询病房 -->
	<select id="findRoomByDepartmentId" parameterType="int" resultType="Room">
		SELECT * FROM room WHERE room_department_id=#{roomDepartmentId}
	</select>
	<!-- 根据房间id修改房间使用数量 -->
	<update id="updateRoomNumById" parameterType="int">
		UPDATE room SET room_restnum=room_restnum-1,room_usenum=room_usenum+1 
		WHERE room_id=#{roomId}
	</update>
	
	<!-- 用户出院时根据科室编号修改房间使用数量 -->
	<update id="updateReduceRoomNumByDepartmentId" parameterType="int">
		UPDATE room SET room_restnum=room_restnum+1,room_usenum=room_usenum-1 
		WHERE room_department_id=#{roomDepartmentId}
	</update>

</mapper>